cherrypy~=18.8.0
cheroot~=8.6.0
itertools~=8.14.0
python_libsbml~=5.19.2
wheel~=0.37.1
pandas~=1.1.5
cobra~=0.4.0
gurobi~=9.1.0
numpy~=1.19.5
matplotlib~=3.3.4
nltk~=3.6.3
scikit-learn~=0.24.2
xgboost~=1.4.2
scipy~=1.5.4
pandas~=1.1.5
shap~=0.39.0
biopython~=1.66
cycler~=0.9.0
DataSpyre~=0.2.0
Jinja2~=2.8
MarkupSafe~=0.23
pyparsing~=2.0.6
python-dateutil~=2.4.2
